/* Colors */
.bg-light-gray {
  background-color: #F7F7F7; }

html {
  font-family: 'Lato', sans-serif; }

body {
  background-color: #FFFFFF;
  color: #333333;
  font-family: 'Lato', sans-serif; }

p {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 300; }

a {
  text-decoration: none;
  border: none;
  color: #1DD1A1; }
  a:hover {
    color: #1DD1A1;
    text-decoration: none; }

h1 {
  font-size: 1.8em;
  font-weight: 400; }

h2 {
  font-size: 1.6em;
  color: #1DD1A1;
  text-align: center; }
  h2 + p {
    font-size: 1.3em;
    text-align: center; }

section {
  padding: 4em 0; }
  section ul {
    list-style-type: disc;
    font-size: 1em;
    font-weight: 300; }

button, .button {
  padding: .65em 1.5em;
  background-color: #FDCB6E;
  border-radius: 3px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 1.1rem;
  box-shadow: none;
  cursor: pointer;
  letter-spacing: .85px;
  border: none; }
  button:hover, .button:hover {
    color: #FFFFFF; }

.dropdown-menu {
  max-width: 350px;
  border-color: #F7F7F7; }
  .dropdown-menu .dropdown-item {
    padding: .5rem .5rem;
    white-space: normal;
    font-size: .95rem;
    line-height: 1.45;
    color: #1DD1A1; }

form label {
  text-transform: uppercase;
  font-size: .75em;
  color: #949AA1;
  line-height: 0;
  text-align: left; }
form .form-control {
  border-radius: 0; }

/* NAV */
nav.navbar {
  padding: 0; }
nav .navbar-nav .nav-item {
  padding: .5rem 1rem; }
  nav .navbar-nav .nav-item a.nav-link {
    color: #FFFFFF;
    font-size: 1.2em;
    padding: .1rem 0;
    display: inline-block; }
    nav .navbar-nav .nav-item a.nav-link.active {
      color: #FFFFFF;
      border-bottom: 2px solid #FFFFFF; }
    nav .navbar-nav .nav-item a.nav-link:hover {
      color: #FFFFFF; }
nav .navbar-toggler {
  border: none; }

/* HEADER */
header {
  background: #0cebeb;
  background: -moz-linear-gradient(-45deg, #0cebeb 0%, #20e3b2 50%, #29ffc6 100%);
  background: -webkit-linear-gradient(-45deg, #0cebeb 0%, #20e3b2 50%, #29ffc6 100%);
  background: linear-gradient(135deg, #0cebeb 0%, #20e3b2 50%, #29ffc6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0cebeb', endColorstr='#29ffc6',GradientType=1 );
  color: #FFFFFF; }
  header h1 {
    padding: 2.5em 0; }

/* STAY IN THE KNOW */
#email-signup {
  background-image: url(../images/bg-gradient.svg);
  background-repeat: no-repeat;
  background-size: cover; }
  #email-signup h2, #email-signup p {
    color: #FFFFFF; }
  #email-signup form label {
    text-transform: uppercase;
    margin: 0;
    color: #FFFFFF; }
  #email-signup form .form-control {
    border: 0; }

/* FOOTER */
footer {
  background-color: #222F3E;
  padding: 5em 0;
  color: #FFFFFF; }
  footer a {
    font-size: .9rem;
    color: #FFFFFF; }

#home header {
  position: relative; }
  #home header .hero {
    background-image: url(../images/calculator.svg);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 480px;
    width: 100%;
    z-index: 2; }
  #home header .bg-header {
    background-image: url(../images/bg-hero.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 480px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    opacity: .8; }
  #home header .bg-slant {
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 210px;
    clip-path: polygon(0 100%, 100% 0, 100% 100%); }
  #home header h1 {
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 2rem;
    padding: 0; }
    #home header h1 + .button {
      margin: 1em auto;
      display: inline-block; }

#news ul.news-pagination li {
  display: block;
  float: left;
  margin: 0 1em; }
#news div.article {
  padding: 1em 0; }

/* NEWS */
p.date, p.author {
  margin: 0; }

.news-tile h4.title {
  font-size: 1rem;
  font-weight: 600;
  margin: 0; }
.news-tile .thumb {
  width: 100%;
  height: 210px;
  background-color: #DFE6E9;
  margin-bottom: .75em; }

#guide img {
  max-width: 100%; }
#guide .table-of-contents {
  list-style-type: decimal;
  color: #1DD1A1;
  font-size: 1em; }
  #guide .table-of-contents li {
    margin: 1em 0; }
  #guide .table-of-contents a {
    line-height: 1.5; }
    #guide .table-of-contents a.active {
      border-bottom: 2px solid #1DD1A1; }
#guide a.disabled {
  opacity: .5; }

#balance-transfer-calculator header h1 {
  padding-bottom: 4em; }
#balance-transfer-calculator #calculator {
  border: 1px solid #F7F7F7;
  box-shadow: 2px 3px 12px #DFE6E9;
  margin-top: -5em;
  background-color: #FFFFFF;
  border-radius: 6px; }
  #balance-transfer-calculator #calculator .form-check.form-check-inline {
    display: inline-block;
    margin-right: 0;
    padding: 0; }
    #balance-transfer-calculator #calculator .form-check.form-check-inline label {
      font-size: .85rem;
      padding: 3em;
      width: 95%;
      color: #333333;
      border: 1px solid #DFE6E9;
      cursor: pointer;
      display: block;
      height: 100%;
      text-align: center;
      position: relative; }
      #balance-transfer-calculator #calculator .form-check.form-check-inline label h5, #balance-transfer-calculator #calculator .form-check.form-check-inline label p {
        width: 100%;
        display: block; }
      #balance-transfer-calculator #calculator .form-check.form-check-inline label p {
        position: absolute;
        bottom: 15px;
        font-size: .95rem; }
      #balance-transfer-calculator #calculator .form-check.form-check-inline label:hover {
        box-shadow: 1px 1px 10px #DFE6E9; }
    #balance-transfer-calculator #calculator .form-check.form-check-inline input[type=radio] {
      position: fixed;
      left: -9999px; }
    #balance-transfer-calculator #calculator .form-check.form-check-inline input[type="radio"]:checked + label {
      border: 1px solid #1DD1A1;
      color: #1DD1A1; }
  #balance-transfer-calculator #calculator .num {
    border-radius: 35px;
    background-color: #DFE6E9;
    height: 35px;
    width: 35px;
    color: #FFFFFF;
    font-size: 1.2rem;
    line-height: 1.75;
    margin: 1.25em auto 0; }
  #balance-transfer-calculator #calculator a.clear {
    color: red;
    font-size: 1em;
    line-height: 1.75;
    margin: .25em auto;
    display: block;
    text-align: center;
    cursor: pointer; }
#balance-transfer-calculator .tile-result {
  border: 1px solid #DFE6E9;
  position: relative;
  box-shadow: 2px 3px 12px #F7F7F7; }
  #balance-transfer-calculator .tile-result .thumb {
    width: 100%;
    height: 100px;
    background-color: #DFE6E9;
    margin-bottom: 1em; }
  #balance-transfer-calculator .tile-result label {
    text-transform: uppercase;
    color: #949AA1;
    font-weight: 300;
    font-size: .95rem;
    line-height: 1.25; }
  #balance-transfer-calculator .tile-result p.value {
    font-weight: 700; }
  #balance-transfer-calculator .tile-result .savings {
    height: 100%; }
    #balance-transfer-calculator .tile-result .savings p {
      color: #1DD1A1;
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 1; }
      #balance-transfer-calculator .tile-result .savings p.fine-print {
        color: #333333;
        font-weight: 300;
        font-size: .85rem;
        line-height: 1.25; }
    #balance-transfer-calculator .tile-result .savings span {
      color: #333333;
      font-weight: 300;
      font-size: 1.2rem; }
  #balance-transfer-calculator .tile-result .border-left {
    height: 100%; }
  #balance-transfer-calculator .tile-result .border-top {
    width: 100%; }

/*# sourceMappingURL=styles.css.map */
