/* Colors */

$green: #1DD1A1;
$white: #FFFFFF;
$gold: #FDCB6E;
$navy: #222F3E;
$gray: #DFE6E9;
$light-gray: #F7F7F7;
$dark-gray: #949AA1;
$black: #333333;

.bg-light-gray {
	background-color: $light-gray;
}